<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1><%= user.name %></h1>
      <p>Created: <%= user.created_at %></p>
    </main>
  </body>
</html>
